@media screen and (min-device-width:760px){
  .blog_body{
    margin: 20px 0;
    margin-right: 15px;
  }
  .blog_side{
    margin: 20px 0;
    margin-left: 60px;
  }
  .blog_side h2{
    font-size: 1rem;
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 10px;
  }
  .blog__title{
    font-size: 1rem;
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 10px;
  }
}
